<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aramis Update Page!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
        <form class = "columns" action="/index" method="POST">
        <div class="column has-text-left is-three-fifths is-offset-one-fifth">
            <div class="field">
                <a href="{{url_for('home')}}" class="delete is-large is-pulled-right"></a>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Enter your name">
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" name="email" type="email" placeholder="Enter your email">
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" name="message" placeholder="Enter your message"></textarea>
                </div>
            </div>
            <div class="control">
                <button type ="submit" class="button is-link">Submit</button>
            </div>
        </div>
    </form>
    </section>
  </body>
</html>