<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section has-text-centered">
    <figure class="image container is-128x128 mb-4">
      <img class = "is-rounded"src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
    <p class = "title is-4">Subin Vidhu</p>
    <p class = "subtitle is-6">@subin-vidhu</p>
    <a class ="button is-info is-outlined is-rounded" href="#">Contact</a>
    <a class ="button is-danger is-outlined is-rounded" href="#">Youtube</a>
  </section>
  <section class="columns">
    <div class="column is-three-fifths is-offset-one-fifth has-background-light">
        <div class="columns">
            <div class="column is=half">
                <div class="card m-3">
                    <div class="card-content">
                        <h1 class="title">About</h1>
                        <p>About me...</p>
                    </div>
                </div>
                <div class="card m-3 has-background-link-light">
                    <div class="card-content">
                        <h1 class="title">Interests</h1>
                        <p>Interests...</p>
                    </div>
                </div>
            </div>
            <div class="column is=half">  
                <div class="card m-3 has-background-primary-light">
                    <div class="card-content">
                        <h1 class="title">Experience</h1>
                        <p>Experience...</p>
                    </div>
                </div>  
                <div class="card m-3 has-background-warning-light">
                    <div class="card-content">
                        <h1 class="title">Education</h1>
                        <p>Education...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </section>
  </body>
</html>